.form {
    width: 25%;
}

ul {
    list-style-type: none;
}

.div-distance {
    margin-bottom: 1%;
    margin-right: 0%;
}

.list-class{
    max-height: 630px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.form-button-margin{
    margin-bottom: 1%;
}
.button-change{
    text-transform: none;
}

.li-class{
    display:inline-block;
    margin-right: 0%;
}

.add-class{
    margin-bottom: 8em;
}

.paper-class{
    overflow: auto;
    max-height: 100%;
}


